#wrapper {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	/* width: 860px; */
	width: 100%;
/*	background-color:#dafc84; */
}

p.welcome {font-size: 2em;
	display:block;
	width: 95%;
}

#logo {
	background: url(/images/crazylabel-2009.gif) no-repeat;
	width: 200px;
	height: 60px;
	float: left; 
	display: inline;
}

#logo a {
	display: inline-block;
	width: 200px;
	height: 60px;
/*	border: black 1px solid;  */
}


#logo a h1 {
	display: none;
}

h1 {font-style:italic;
	font-size: 3em;
	padding-top: 1em;
}

h2 {
	font-family: cursive;
}

body {background-image: url(/images/background-1600px1920px-2.jpg);
	
	padding-left: 4.5em;
	padding-top: 2em;
	padding-right: 5em;
	font-family: Helvetica, Verdana, sans-serif;
	color:#563300;
	background-color: white;
	width: 80%;
	max-width: 1024px; 
	min-width: 600px;
}

body a:link {
	color:#563300;
	background-color: transparent;
}

body a:visited {
	color:#573300;
	background-color: transparent;
}

/*
img.logo {
	float: left;
	padding-right: 1em;
	vertical-align: text-bottom;
}
*/

footer {
	font-size: 0.9em;
	text-shadow: 0px 1px 0px #edc859;
}

nav {
	float: right;
}

nav li {
	display: inline;
	width: 100%;
	padding-right: 0.9em;
	text-shadow: 0px 1px 0px #edc859;
}

nav a {
	-webkit-border-radius: 15px;
	padding: 2px;
	-webkit-transition: all 0.3s ease-in-out;
}

nav li a:hover, nav li a:focus {
	color: white;
	background-color: rgba(255, 255, 255, 0.15);
}

nav a:link {
	color:#563300;
	background-color: transparent;
	text-decoration: none;
}

nav a:visited {
	color:#573300;
	background-color: transparent;
}

nav ul {
	padding-top: 12px;
	padding-left: 0px;
}

#contentpage {
	width: 100%;
	color:#563300;
	background-color: white; 
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding:1em;
	padding-right:2em;
	margin-right:5em;
	box-shadow: 2px 2px 5px #805903;
/*	border: red 1px solid;  */
	display: block;
	margin-top: 50px;
}

  	
#contentpage img#front {
  float: right;
}	
  
#tab {
	color:#563300;
	background-color: #f8f8f8;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	height:30px;
	width:150px;
	transform: rotate(270deg);
	transform-origin: bottom left;
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin: bottom left;
	position: absolute; 
	margin-top: 170px;
/*	border: red 1px solid;  */
}

#tab P {
	font-size:1.1em;
	font-weight: bold;
	color: #4b3105;
	background-color: transparent;
	padding: 5px;
	font-style: normal;
	text-align: center;
	margin-top: -1px;
}

blockquote.style1 {
  font-size:large;
  font-style:italic;
  padding: 8px;
  margin: 5px;
  background-image: url(images/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
}
  
blockquote.style1 span {
   display: block;
   background-image: url(images/closequote1.gif);
   background-repeat: no-repeat;
   background-position: bottom right;
   padding-right:1em;
}
  	
blockquote.style2 {
  font-size: x-large;
  font-weight: 100;
  padding-left: 30px;
  padding-right: 140px;
  margin: 5px;
  padding-top:20%;

}
blockquote.style2 span {
  	font-weight: bold;
	display: inline; 
  /*  	display: block;
    	padding-right:1em;
    	vertical-align: text-bottom;
    	padding-top:20%; */
}  	

  	
.thumbnail
{
float: left;
width: 150px;
margin: 0 15px 15px 0;
padding: 5px;
text-align: center;

}

.artistbio .thumbnail {
	width:80px;
/*	border: black 1px solid;  */
}

.clearboth { clear: both; }

.artists {display:inline;}

section.artistbio {
	width: 70%;	
	padding: 1em;
	padding-right: 0.5em;
	border-right: 1px dotted gray; 
	display:inline-block;
}

aside {
	width:25%;
	font-size: 0.8em;
	float: right;
	display: inline;
/*	border: black 1px solid;   */
	padding-left: 0px;
}

.date {
	text-decoration: underline;
	font-size: 0.8em;
	font-weight: bold;
	
}

aside ul {
/*	background-color: gray; */
}

aside ul li {
	list-style-type: none;
}


video {
	padding:1em;
}

DIV.brand {
	font-weight: bold;
	display: inline; 
}

SPAN.brand {

	font-weight: bold;
	display: inline; 
}

.brand {
	font-weight: bold;
	display: inline; 
}

#slogan {
	font-size: smaller;
}

#artistbannerimg {
	margin-left: -16px;
	margin-right:-32px;
	margin-top:-16px;
}

#justreleased {
	position: relative;
}

#justreleased .thumbnail {
	margin-left: 15px;
	margin-top: 15px;
}

#justreleasedtab {
	text-align: center;
	width: 0;
	height: 0;
	border-top: 100px solid rgba(153,204,51,0.80); 
	border-right: 100px solid transparent;
	position: absolute;	
}

#justreleasedtab p {
	text-shadow: 0px 1px 0px #868686;
	color: white;
	font-weight: bold;
	transform: rotate(-45deg);
	transform-origin: top right;
	-webkit-transform: rotate(-45deg);
	-webkit-transform-origin: top right;
	position: absolute;
	margin-top: -110px;
	margin-left: -30px;
}

#justreleased h2 {
/*	margin-left: 1.5em; */
	font-size: 2em;
/*	display:block; */
	width: 100%;
/*	background-color:#f34242; */
	position: relative;
}

#copyright {
	font-size:smaller;
}

.url {
	font-weight: bold;
}


#treesonimage, #circleboyimage, #pinbimage {
	float: left;
	margin-right: 0.8em;
	text-align: center;
}

#renimage, #newspaperboyimage {
	float: right;
	margin-left: 0.8em;
	text-align: center;
}

.greybg {
	background-color: #fbfbfb;
	display: block;
	height: 10em;
	padding: 1em;
}



.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* --------------- Start of CSS for iPhone ----------------------------------------------- */

@media screen and (max-device-width: 480px) {
#logo {
	background: url(/images/crazylabel-2009@2x.gif) no-repeat;
	width: 100%; 
	height: 120px;
	float: left;
/*	position: relative; */
	margin-left: auto;
	margin-right: auto;
	display: inline; 
/*	position:inherit;   */
}



#logo a {
	display: inline-block;
	width: 420px;
	height: 60px;
	position: absolute; 
/*	border: red 1px solid;    */
}

nav {
	margin-top: -40px;
}

nav li {
	display: inline;
	width: 100%;
	padding-right: 0.9em;
	text-shadow: 0px 1px 0px #edc859;
	font-size: 2em;
}

nav a:link {
	color:#563300;
	background-color: transparent;
}

nav a:visited {
	color:#573300;
	background-color: transparent;
}

nav ul {
/*	padding-top: 120px; */
/*	border: black 1px solid;   */
width: 100%;

}

section.artistbio {
	width: 90%;	
	padding: 1em;
    border-bottom: 1px dotted gray;  
    border-right:none;
	color: #563300;
	background-color: transparent;
	font-size:xx-large;
}

section.artistbio .thumbnail {
	padding: 1.5em;
	margin-bottom: -1em;
	margin-left: -1em;
}

section.artistbio .thumbnail img {
	width: 120px;
	height: 120px;
}

aside {
	width:100%;
	font-weight: bold;
	font-size: 3em;
/*	float: right; 
	display: inline;
	border: black 1px solid;  */
}


.timeline {
	font-size: 0.3em;
	width: 100%;
}

.timeline .date {
	font-size: 3em;
}

.timeline .thumbnail {
	width: 40%; /* control the width of thumbnail in the timeline */
/*		border: solid black 1px; */
}
.timeline .thumbnail img{	
	height: auto; 
	width: 10em;
	text-align: center;

	
}

footer li {
	font-size: 2.0em;
	
}

blockquote.style2 {
	font-size: 1.8em;
}

#tab {
	color:#563300;
	background-color: #f8f8f8;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	height:30px;
	width:250px;
	transform: rotate(270deg);
	transform-origin: bottom left;
	-webkit-transform: rotate(270deg); 
	-webkit-transform-origin: bottom left; 
	position: absolute; 
	margin-top: 370px;
	
}

#tab P {
	font-size:1.5em;
	font-weight: bold;
	color: #4b3105;
	background-color: transparent;
	padding: 5px;
	font-style: normal;
	text-align: center;
	margin-top: -1px;
}

#contentpage {
	margin-top: 150px;
}

blockquote.style1 {
  font-size:2.0em;
  font-style:italic;
  padding: 8px;
  margin: 5px;
  background-image: url(images/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
}

blockquote.style1 span {
   display: block;
   background-image: url(images/closequote1.gif);
   background-repeat: no-repeat;
   background-position: bottom right;
   padding-right:1em;
}

.thumbnail {
	float: left;
	width: 300px;
	margin: 0 15px 15px 35px;
	padding: 5px;
	text-align: center;
	font-size: 2.0em;
}

.thumbnail img {
	width: 120px;
	height: 120px;
}

#justreleased .thumbnail {
	margin-left: 15px;
	margin-top: 40px;
}

#justreleasedtab {
	text-align: center;
	width: 0;
	height: 0;
	border-top: 150px solid rgba(153,204,51,0.80); 
	border-right: 150px solid transparent;
	position: absolute;	
}

#justreleasedtab p {
	text-shadow: 0px 1px 0px #868686;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	transform: rotate(-45deg);
	transform-origin: top right;
	-webkit-transform: rotate(-45deg);
	-webkit-transform-origin: top right;
	position: absolute;
	margin-top: -170px;
	margin-left: -45px;
}



}
/* --------------- End of CSS for iPhone ------------------ */